<footer>
    <div class="container-fluid" id="final">
        <div class="row linea" >
            <div class="col-md-4 col-6" id="ayuda">
                <h5>¿NECESITAS AYUDA?</h5>
                <p>0034-965600200 las 24 horas</p>
                <p>agengeek@gmail.com</p>
                <p>Lun-Vie. 9:30 a 19:00 y Sab: 10:00 a 14:00</p>
            </div>
            <div class="col-md-4 informacion">
                <h5>INFORMACION</h5>
                <p>Quienes somos</p>
                <p>Preguntas frecuentes</p>
                <p>Politicas de privacidad</p>
                <p>Condiciones generales</p>
                <p>Aviso legal</p>
                <p>Contactos</p>
                <p>Programa de puntos</p>
            </div>
            <div class="col-md-4 col-6" id="suscribete">
                <h5>SUSCRÍBETE A LA NEWSLETTER</h5><br>
                <input type="email" class="form-control" placeholder="correo electrónico">
                <button type="submit" class="btn btn-primary envia">Enviar</button>
            </div>
        </div>

        <div class="row" id="redesSocial2">
            <div class="col-10">
                <ul>
                    <a href="#" class="badge badge-pill badge-primary"><i class="fab fa-twitter fa-2x"></i></a>
                    <a href="#" class="badge badge-pill badge-success"><i class="fab fa-whatsapp fa-2x"></i></a>
                    <a href="#" class="badge badge-pill badge-info"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="#" class="badge badge-pill badge-primary"><i class="fab fa-linkedin-in fa-2x"></i></a>
                    <a href="#" class="badge badge-pill badge-danger"><i class="fab fa-youtube fa-2x"></i></a>
                </ul>
            </div>
        </div>
    </div>
</footer>