<section id="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 offset-lg-4 col-md-8 offset-md-2 cont-login">
                <h1>Iniciar Sesión</h1>
                <form>
                    <div class="form-row justify-content-md-center">
                        <div class="form-group col-md-6 col-8">
                            <input type="text" class="form-control" id="inputUssuario" placeholder="Usuario" required>
                        </div>
                    </div>
                    <div class="form-row justify-content-md-center">
                        <div class="form-group col-md-6">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="form-row justify-content-md-center">
                        <div class="form-group col-md-6">
                            <button type="submit" class="btn btn-warning btn-lg" id="submitLogin">Identificarse</button>
                        </div>
                    </div>
                    <a href="#" class="remenberlink" onclick="rememberPassword()">¿ No recuerdas tu contraseña ?</a>
                    {{#if correcto}}
                        <p>Se ha registrado correctamente! Ya puedes iniciar sesion.</p>
                    {{/if}}
                </form>
            </div>
        </div>

    </div>
</section>